<ul class="looop_bar_filters">
    {% for export in exports %}
        <li>
            <a href="#" class="collapsed">
                <span>{{ export }}</span>
            </a>
        </li>
    {% endfor %}
</ul>
